<div class="login-form-wrapper container container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Create Your Advertisement</h2>
            <form [formGroup]="createAdForm" class="login-form">
                <div class="form-group m-0">
                    <mat-form-field appearance="outline" class="col-md-12">
                        <mat-label>Headline</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="headLine" autocomplete="off">
                    </mat-form-field>

                </div>
                <div class="form-group m-0">
                    <mat-form-field appearance="outline" class="col-md-12">
                        <mat-label>Description</mat-label>
                        <!-- <input matInput placeholder="Placeholder" formControlName="description" autocomplete="off"> -->
                        <textarea matInput placeholder="Placeholder" formControlName="description"
                            autocomplete="off"></textarea>
                    </mat-form-field>
                </div>

                <div class="form-group m-0">
                    <div class="form-group m-0">
                        <div class="progress m-3">
                            <div class="progress-bar" role="progressbar"
                                [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="file" name="image" ng2FileSelect [uploader]="uploader"
                            (onFileSelected)="onFileSelected($event)" multiple
                            accept="image/x-png,image/gif,image/jpeg" />
                        <button type="button" class="btn btn-primary col-md-12 mt-3" (click)="uploader.uploadAll()"
                            [disabled]="!uploader.getNotUploadedItems().length">
                            Upload
                        </button>
                    </div>

                </div>

                <!-- <div>
                    <input type="file" ng2FileSelect [uploader]="uploader" multiple
                        (onFileSelected)="onFileSelected($event)" /><br />
                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                        [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                </div> -->
            </form>
        </div>

        <div class="col-md-8">
            Preview my AD
            <div>
                --- <img [src]="img?.type" /> ---
            </div>
            <div>
                <button class="btn btn-primary" (click)="download($event)">Download</button>
            </div>
        </div>
    </div>
</div>